
@media screen and (max-width: 1400px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media screen and (max-width: 850px) {
	.grid-container {
		grid-template-columns: repeat(1, 1fr) !important;
	}
	h1 {
		font-size: 38px !important;
	}
}

@media screen and (max-width: 550px) {
	.grid-item {
		width: 100% !important;
	}
}

:root {
	--dark-gray: #4C4C4C;
	--dark-navy: #495867;
	--navy: #577399;
	--peach: #FE5F55;

	--pastel-red: #FFADAD;
	--pastel-yellow: #FFD6A5;
	--pastel-purple: #FFC6FF;
	--pastel-green: #CAFFBF;
	--pastel-cyan: #9BF6FF;
	--pastel-blue: #A0C4FF;
    --hover-button-red: #D73B38;
}

* {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	align-items: center;
	background-color: var(--dark-navy);
	height: 64px;
	padding: 0rem 1rem;
}

nav img {
	width: 50px;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--navy);
	height: 191px;
}

h2 {
	color: #F7F7FF;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
}

h1 {
	color: #F7F7FF;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 48px;
	transition: all .5s;
}

h3 {
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 36px;
	padding-top: 1rem;
}

h3:after
{
    content:'';
	display:block;
	margin: .5rem auto;
	width: 13rem;
}

.divider-red:after {
	border: 2px solid var(--pastel-red);
}

.divider-yellow:after {
	border: 2px solid var(--pastel-yellow);
}

.divider-purple:after {
	border: 2px solid var(--pastel-purple);
}

.divider-green:after {
	border: 2px solid var(--pastel-green);
}

.divider-cyan:after {
	border: 2px solid var(--pastel-cyan);
}

.divider-blue:after {
	border: 2px solid var(--pastel-blue);
}

h4 {
	color: var(--dark-gray);
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
	font-size: 17px;
	padding: .25rem 0;
}

p, [mailto] {
	color: var(--dark-gray);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	padding: 1rem 0;
}

.grid-item p a {
	padding: 0;
}

a {
	display: inherit;
	color: var(--peach);
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	padding: .5rem 0;
	width: fit-content;
	text-decoration: none;
}

.img-link {
    margin: auto;
	border-radius: 100%;
	text-align: center;
}

.grid-container {
	display: grid;
	grid-gap: 4rem;
	padding: 3rem 10vw;
	grid-template-columns: repeat(3, 1fr);
	transition: all .5s;
}

.grid-container img {
	height: 150px;
	width: 150px;
	border-radius: 100%;
}

.grid-item {
	text-align: center;
	width: 340px;
	margin: 0 auto;
	transition: all .5s;
}

.portfolio-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--peach);
	height: 40px;
	border-radius: 8px;
    transition: background-color 0.3s ease;
}

.portfolio-button p {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #F7F7FF;
	margin: 0;
    padding: 1rem;
}

.portfolio-button img {
	width: 20px;
	height: 20px;
	padding: 1rem;
}

.portfolio-button:hover {
    background-color: var(--hover-button-red);
}

/* Hover States */

a, .grid-container img, .grid-item p a { /* Smooth Transition for each defined element */
	transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.grid-container img:hover {
	transform: scale(1.05);
}

a:hover {
	color: var(--dark-gray);
}

.grid-item p a:hover {
	color: var(--peach);
}