* {
	margin: 0;
	padding: 0;
}

:root {
	--forward-gradient: linear-gradient(90deg, rgba(182,215,244,1) 0%, rgba(255,128,223,1) 100%);
	--backward-gradient: linear-gradient(90deg, rgba(255,128,223,1) 0%, rgba(182,215,244,1) 100%);
	/*
	Use like so:
	background: var(--forward-gradient);
	background: var(--backward-gradient);
	*/
}

nav {
	background-color: white;
	width: 100%;
	padding: 2rem 0;
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 10px 20px 7px rgba(0, 0, 0, 0.15);
}

.back-btn {
    position: absolute;
    left: 2rem;
}

.container {
	display: flex;
	justify-content: center;
	margin: 2rem;
}

.text-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 2rem;
}

.dropdown {
	height: 45px;
	width: 112px;
	border: 3px solid #C8CCF8;
	background-color: white;
	border-radius: 50px;
	margin: 0 1rem;
	justify-content: center;
    display: flex;
	align-items: center;
	box-shadow: 1px 10px 20px 7px rgba(0, 0, 0, 0.15);
}

.button {
	padding: 1rem;
	border: 3px solid #FF00BF;
	border-radius: 50px;
	background-color: white;
	box-shadow: 1px 10px 20px 7px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	color: black;
	font-weight: bold;
}

.button:hover {
	border: 3px solid #FF00BF;
	background-color: #FFE5FD;
	color: #FF00BF;
	transition: all .2s ease-in-out;
}

h1 {
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

p {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

/* Data Blocks */

.container.ride-data {
	flex-direction: column;
}

.ride-data-card {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    border-radius: .5rem;
	padding: .33rem;
	background: var(--forward-gradient);
}

.ride-data-card:nth-of-type(even) {
	/* Selects every other card */
	background: var(--backward-gradient);
}

.card-img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.card-icon {
	width: 2.5rem;
}

.card-content-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    border-radius: 0 .25rem .25rem 0;
    background-color: white;
	padding: 0.5rem .75rem;
}

.card-title {
	text-align: left;
	margin-bottom: .75rem;
	font-weight: normal;
}

.card-data {
	text-align: left;
    font-size: 2rem;
}